html {
    background: url(../images/Turtle-cliff-beach.jpg) no-repeat top left fixed;
    background-size: cover;  
    Background-image: linear-gradient(to right, #ff000000, #D5D3D9), url(../images/Turtle-cliff-beach.jpg);

}

body {
    font-family: 'Schoolbell', cursive;   
    font-size: 1.5em;
    color:#0e0e62;
    display: flex;
    flex-flow: column wrap;
    margin: 0;    
}

a:link {
    color: #0e0e62;
}

a:visited {
    color:#7A896C;
}

a:active {
    color: #D5D3D9;
}

a:hover {
    box-shadow: inset 3em 0 0 0 #D5D3D9;
}
/*!!Can I make a unique cursor using a photo? or find a shell shaped one? */

article {
    padding: 1em;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }

h1 {
    color: #BF9CA4;
    font-size: 0.8em;
    list-style: none;
}

h2 {
    color: #7A896C;
    font-size: 1em;
    padding: 1em;
}

p {
    text-align: center;
    color: palevioletred;
}

.topnav {
    font-size: 0.5em;
    display: flex;
    justify-content: space-around;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#game {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



.board {
	width: 30em;
	height: 30em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
    background-image: url(/images/tttboard.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    box-shadow: 0 0 2em 1em #320E3B;


	/*display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)*/
}

.board:hover {
    cursor: pointer;
}

.circle {
    background-image: url(/images/game\ o.jpg);
}

.cross {
    background-image: url(/images/game\ x.jpg);
}

.circle,.cross {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}



.game-title {
    font-size: 2em;
    text-align: center;
}
/*SECOND OPTION FOR TIC TAC TOE 
/*.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}*/


/* for cross */
/* .board.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* for cross (set) 
.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* for circle 
.board.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for circle (set) 
.cell:not(.x).circle {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	font-family: 'Courier New', Courier, monospace;
	flex-direction: column;
}

.winning-message button {
	border-radius: 10px;
	font-size: 3rem;
	background-color: white;
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: var(--color-set);
	color: white;
	border-color: white;
} */


#header-component {
    font-family: 'Rock Salt', cursive;
    color: #BF9CA4;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;  
}

#main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;    
    max-width: 20em;
    padding-left: 2em;
}

#my-footer {    
    color: #0e0e62;
    background-color: lightgray;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 0.5em;    
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    }
/*note: images used for buttons are easier to manage in html than as background images in css. image for shell button now in html
BUT NOW I HAVE LOST TEXT LABLLING THE BUTTON - HOW DO I GET IT BACK?*/
#shell-btn {
    color:#320E3B;   
    text-align: center;
    font-weight: bold;
    height: 5em;
    width: 5em;    
    border: solid 0.25em palevioletred;
    opacity: 1;    
    border-radius: 50%;     
    margin: 2em; 
}
#shell-link {
   /*figure out how tp turm off or change a hover for this button*/

}

#shell-choice {   
    border: none;
    margin: 2em;
    padding: 1em;
}

:root {
	--cell-size: 100px;

	--color: #81c3fd; /* for hover */
	--color-set: #0275d8; /* when set */
	--l: 10px; /* X line-width */
}


@media screen and (min-width: 40em) {

    header {
        font-size: 1em;         
    }

    #main {
        display: flex;
        flex-flow: wrap-reverse row;
        max-width: 100%;
        padding: 2em;
    }
    
}

/*
Colour palette
Light
Tuscany (muted pink) #BF9CA4
Light Gray #D5D3D9
Xanadu (olive green)#7A896C
Dark
Russian Violet #320E3B
Prussian Blue #003052*/